html {                                                                                                                                         
  font-size: 10px;
  background: url('./background.jpg') no-repeat;
  background-size: cover;
}

body,html {
  margin: 0;
  padding: 0;
  font-family: monospace, sans-serif;
}

.scoreboard-container {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.scoreboard {
  display: flex;
  flex: 1;
  justify-content: space-between;
  align-items: center;
}

.score {
  color: white;
  background-color: black;
  font-size: 40px;
  padding: 8px 12px;
  border-radius: 12px;
  margin: 10vh 5vw 0;
}

.choices {
  display: flex;
  flex: 1;
  min-height: 80vh;
  justify-content: center;
  align-items: center;
  gap: 24px;
}
 
button {
  width: 240px;
  margin: 50px 0px;
  padding: 12px;
  font-size: 42px;
  border-radius: 12px;
  border-width: 4px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-family: monospace;
}
